@inject Services.ITranspileService transpileService;
@inject Services.IProjectService projectService;
@page "/CodeTranspiled/{identifier}"


<textarea cols="190" rows="220">
    @codeTranspiled
</textarea>
<br/>
<button class="text-center center btn btn-primary">Compile and Upload!</button>

@code {
    [Parameter]
    public string identifier { get; set; }
    string Target { get; set; }
    string codeTranspiled { get; set; }
    private ProjectModel project;

    protected override async Task OnInitializedAsync()
    {
        project = projectService.GetProjectByID(identifier);
        codeTranspiled = transpileService.TranspileScenesToCode(project.Scenes);
    }
}
