@page "/"
@inject NavigationManager navigationmanager;
@inject ProgrammableLEDUI.Services.IProjectService projectService;
<link href="css/ProjectOverview.css" rel="stylesheet" />
<div class="container">


    <div class="row">
        <h2>Projects:</h2>
        <div class="col-3">
            <div class="card cardhover">
                <img class="card-img-top" width="150" height="150" src="https://cdn-learn.adafruit.com/guides/cropped_images/000/001/024/medium640/Screen_Shot_2015-05-07_at_8.19.13_AM.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">New project</h5>
                    <p class="card-text">Creates an empty project</p>
                    <button @onclick="CreateNewProject" class="btn btn-primary">Create New👻</button>
                </div>
            </div>
        </div>
        
        @foreach(var item in projects)
         {
            <div class="col-3" >
                <div class="card cardhover">
                    <img class="card-img-top" width="150" height="150" src="https://cdn-learn.adafruit.com/guides/cropped_images/000/001/024/medium640/Screen_Shot_2015-05-07_at_8.19.13_AM.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Your project.</p>
                        <button @onclick="()=>EditProject(item)" class="btn btn-primary">Work with me!😶</button>
                    </div>
                </div>
            </div>
         }


      


    </div>

</div>

@code
{

    List<ProjectModel> projects = new();
    protected override async Task OnInitializedAsync()
    {
        projects = projectService.GetProjects();
    }

    async Task CreateNewProject()
    {
        navigationmanager.NavigateTo("/NewProject");
    }


    async Task EditProject(ProjectModel project)
    {
        navigationmanager.NavigateTo($"/ProjectEdit/{project.ID}");
    }
}