<h3>Pixel Property of @Pixel?.PixelIndex</h3>
@using BlazorColorPicker
@if (Pixel != null)
{
<p>Pixel Index</p>
}

<button class="btn btn-primary" @onclick="OpenModal">
    <div style="background-color:@color" class="buttonColor"></div> Select a Color
</button>

<ColorPicker Title="My Blazor ColorPicker" IsOpened="isOpened" Closed="ClosedEvent" MyColor="@color">
</ColorPicker>



@code {
    [Parameter]
    public LEDPixelModel Pixel { get; set; }


    [Parameter]
    public EventCallback<string> PropertyChanged { get; set; }

    bool isOpened = false;
    string color = "#F1F7E9";

    void OpenModal()
    {
        isOpened = true;
    }

    void ClosedEvent(string value)
    {
        color = value;
        isOpened = false;
        Pixel.PixelColor = Color.FromArgb(value);
        PropertyChanged.InvokeAsync("Color");
    }
}

}
